#container
{
width: 100%;
height: auto;
font-family: 'Lato', sans-serif;   
}
#head
{
width: 100%;
height: 4vw;
}
#head a
{
text-decoration: none;  
color: black;  
}
#logo
{
width: 25vw; 
height: 100%;
float: left;
margin-left: 2vw;   
}
.kategoria
{
width: 14vw;
height: 100%;
float: left;
text-align: center;
font-size: 1.5vw;
font-weight: 900;
top: 1vw;
border-radius: 0.25vw;
}
.kategoria:last-child
{
border: none;    
}
#add
{
 width: 100vw;
 margin-top: 2vw;
 height: 50vw;   
}
#zdj_add
{
width: 90vw;
height: 100%;
margin-left: 5%;
border-radius: 5vw;
border: 1px solid black;
float: left;
}
#sklep
{
    width: 90vw;
    margin-top: 5vw;
    margin-left: 5vw;
    height: 40vw;   
font-size: 3vw;
font-weight: 900;
}
.box
{
    width: 25%;
    height: 22.5vw;
    margin-bottom: 1.5vw;
    background-color: black;
    border-radius: 1vw;
    float: left;
    margin-right: 5vw;
    margin-top: 5vw;
    color: gray;
    font-size: 2vw;
}
.produkt_opis
{
  margin-top:15vw;  
  text-align: center;
}
.title
{
color: gray;
font-size: 3vw;
margin-left: 5vw;
font-weight: 900;
}
#o_nas
{
    margin-top: 2vw;
    height: 50vw; 
    width: 90vw; 
    margin-left: 5%;
    border: 1px solid black;
 
}
#stopka
{
width: 100vw;
height: 25vw;
color: white;
background-color: black;
margin-top: 5vw;
padding: 2vw;
}
#text_mail
{
  margin-top: 1vw;  
  margin-bottom: 1vw;
  width: 25vw;
}
#text_wiadomosc
{
    margin-top: 1vw;  
    width: 25vw;
    height: 15vw;
  
}
#pomoc
{
    float: left;
    margin-left: 5vw;
    font-weight: 900;
    font-size: 2vw;
}
#kontakt
{
float: left;
height: 100%;
}
#pytania
{
 font-size: 1.5vw;
 font-weight: 400;
}
#pytania>li
{
    margin-top: 1vw;
}
#icons
{
    float: left;
    margin-left: 5vw;
    width: 40vw;
    height: 10vw;
    font-size: 50w;
}
#produkty
{
width: 70%;
height: 100%;
margin: 0;
float: left;
}
#podsumowanie
{
width: 25%;
height: 100%;
border: 2px black solid;  
border-radius: 2vw;
float: left;
text-align: center;
padding-top: 2vw;
font-size: 2vw;
}
.produkt
{
width: 100%;
height: 10vw;    
}
.zdj
{
width: 5vw;
height: 5vw;
margin: 1vw;
background-color: black;
float: left;    
margin-top: 2vw;
}
.opis
{
float: left;    
font-size: 1vw;
margin-top: 3vw;
}
#cena
{
width: 90%;
margin-left: 5%;
height: 15vw;
border-top: 1px gray solid;   
}
#laczna_kwota
{
float: left;
color: gray;
font-size: 1.25vw;
margin-top: 1.5vw;
}
#kwota
{
    float: left;
    margin-top: 1vw;
    font-weight: 900; 
    margin-left: 10vw;
}
#button_dalej
{
color: white;
background-color: #00CDFF;   
margin-top: 7vw;
padding:1vw;
padding-top: 2vw;
padding-bottom: 2vw;
border-radius: 5vw;
}